<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body onload="jsSetFocusCobro();">
<div class='dashboard'>
    <div class="dashboard-nav">
        <!--/*/ <th:block th:include="fragments/util :: menu"></th:block> /*/-->
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
        <!--/*/ <th:block th:include="fragments/util :: cabecera2022"></th:block> /*/-->
        </header>
        <div class='dashboard-content' style="overflow-y: scroll;">
            <div class='container'>
                <div class='card'>
                
                
					<div id="container">
						<div id="actionbar" class="row">
							<div class="col-md-3 mb-3">
								<a href="#"	th:href="@{/notas/regresar/nuevo}"><img th:src="@{/images/iconos/regresar.png}"	alt="Regresar" /></a>
							</div>
							<div class="col-md-6 mb-3 tituloPrincipal" align="center" ><br/> SUNAT - Factura Alquiler y Servicios - Consulta</div>
							<div class="col-md-3 mb-3"></div>
						</div>
						<form id="form" th:object="${filtro}" th:action="@{/notas/consulta/q}" method="Post">
							<div id="informacion" class="container_v3">
								<fieldset class="scheduler-border" style="background-color:#FEEF8B;">
										<br></br>
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="idNombre" class="title10pt">Tienda: </label>
												<input type="text" class="form-control_v2 is-valid" placeholder="Tienda" th:field="${filtro.numero}" autocomplete="off"/>
											</div>
											<div class="col-md-3 mb-3">
												<label for="idNombre" class="title10pt">Tipo: </label>
												<select th:field="${filtro.tipo}" class="form-control_v2 is-valid">
														<option value="-1">--Seleccionar--</option>
														<option th:each="entry : ${session.SessionMapTipoProductoFactura}" th:value="${entry.value}" th:text="${entry.key}">opcion</option>
													</select>
											</div>
											<div class="col-md-3 mb-3">
												<label for="idNombre" class="title10pt">N&uacute;mero Factura: </label>
												<input type="text" class="form-control_v2 is-valid" placeholder="Tienda" th:field="${filtro.numeroFactura}" autocomplete="off"/>
											</div>
											<div class="col-md-1 mb-3"></div>
											<div class="col-md-2 mb-3" align="center">
												<button class="btn btn-success" type="submit">Buscar</button>
											</div>
										</div>
								</fieldset>
								<div class="container_v4" align="center">
						  			<div class="row">
						  				<div class="col-md-12 mb-3">
						  					<p style="color: red" th:text="${respuesta}" />
						  				</div>
						  			</div>
						  		</div>
								<div id="c_tablas" th:if="${not #lists.isEmpty(registros)}">		
									<div class="tableFixHead">		
									<table id="t01" class="table   table-bordered table-active tabla_cabecera_general">
										<thead>
											<tr>
												<th>Tienda</th>
												<th>Tipo</th>
												<th>Monto</th>
												<th>Moneda</th>
												<th>Serie</th>
												<th>N&uacute;meromero</th>
												<th>Fecha Emisi&oacute;n</th>
												<th>Selec</th>
											</tr>
										</thead>
										<tbody>
											<tr  th:each="comprobante, iterStat : ${registros}"  class="campos2" onMouseOver="this.className='camposF'" onMouseOut="this.className='camposFi'" style="cursor: pointer" >
												<td th:text="${comprobante.factura.numeroTienda}">numeroTienda</td>
												<td th:text="${comprobante.facturaDetalle.nombreProducto}">nombreProducto</td>
												<td th:text="${comprobante.facturaDetalle.precioUnitario}">precioUnitario</td>
												<td th:text="${comprobante.facturaDetalle.moneda}">moneda</td>
												<td th:text="${comprobante.factura.serie}">serie</td>
												<td th:text="${comprobante.factura.numero}">numero</td>
												<td th:text="${comprobante.factura.fechaEmision}">fecha</td>
												<td align="center">
													<a th:href="${'/notas/consulta/seleccionar/' + iterStat.index}">
														<img th:src="@{/images/iconos/editar.png}" alt="Editar" />
													</a>
												</td>
											</tr>
										</tbody>
									</table>
									</div>
								</div>
								<div id="c_tablas" th:if="${#lists.isEmpty(registros)}">				
									<table id="t01" class="table   table-bordered table-active tabla_cabecera_general">
										<tr>
											<th>Tienda</th>
											<th>Tipo</th>
											<th>Monto</th>
											<th>Moneda</th>
											<th>Serie</th>
											<th>N&uacute;meromero</th>
											<th>Fecha Emisi&oacute;n</th>
											<th>Selec</th>
										</tr>
										<tr class="campos2" onMouseOver="this.className='camposF'" onMouseOut="this.className='camposFi'">
											<td colspan="8" align="center">No se encontr&oacute; elementos</td>
										</tr>
									</table>
								</div>
							</div>
						</form>
						
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>