<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body >
<div class='dashboard'>
    <div class="dashboard-nav">
        <!--/*/ <th:block th:include="fragments/util :: menu"></th:block> /*/-->
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
        <!--/*/ <th:block th:include="fragments/util :: cabecera2022"></th:block> /*/-->
        </header>
        <div class='dashboard-content' style="overflow-y: scroll;">
            <div class='container'>
                <div class='card'>
                
					<div id="container">
						<div id="actionbar" class="row">
							<div class="col-md-4 mb-1">
								<a href="#" th:href="@{/refinanciar/regresar}"><img
									th:src="@{/images/iconos/regresar.png}" alt="Regresar" /></a>
							</div>
							<div class="col-md-8 mb-1 tituloPrincipal" align="left">
								<br /> Refinanciar Deuda
							</div>
						</div>
						<form id="form" th:object="${cobroGeneralBean}"  method="post">
							<div id="informacion" class="container_v3">
								<p style="color: red" th:text="${resultadoContrato}" />
								<div class="row">
									<div class="col-md-3 mb-3">
										<fieldset class="scheduler-border"
											style="background-color: #7B8AB5;">
											<input type="hidden" th:field="${cobroGeneralBean.indiceTab}"  id="idIndiceTab"/> 
											<div class="row">
												<div class="col-md-3 mb-1">
													<label for="idNombre" class="titleWhite10pt">N&uacute;mero:
													</label>
												</div>
												<div class="col-md-9 mb-1">
													<input type="text" class="form-control_v2" placeholder="local" th:field="${contrato.numero}" readonly="readonly" style="background-color: #ECECEC;" />
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 mb-1">
													<label for="idNombre" class="titleWhite10pt">Estado: </label>
												</div>
												<div class="col-md-9 mb-1">
													<div th:replace="fragments/util :: estadoContratoInputEditar(tipo=${contrato.estadoContrato})"></div>
													<input type="hidden" th:field="${contrato.estadoContrato}" />
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 mb-1">
													<label for="idNombre" class="titleWhite10pt">F.Inicio: </label>
												</div>
												<div class="col-md-9 mb-1">
													<input type="text" class="form-control_v2 " style="background-color: #ECECEC;" placeholder="dd/MM/yyyy" th:field="${contrato.fechaInicio}" readonly="readonly" disabled="disabled" />
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 mb-1">
													<label for="idNombre" class="titleWhite10pt">F. Fin: </label>
												</div>
												<div class="col-md-9 mb-1">
													<input type="text" class="form-control_v2 " style="background-color: #ECECEC;" placeholder="dd/MM/yyyy" th:field="${contrato.fechaFin}" readonly="readonly" disabled="disabled" />
												</div>
											</div>
											<br></br><br></br><br></br>
											
											
				
										</fieldset>
									</div>
									<div class="col-md-3 mb-3">
										<fieldset class="scheduler-border"
											style="background-color: #7B8AB5;">
											<br></br> <input type="hidden"
												th:field="${contrato.tblTienda.codigoTienda}" /> <input
												type="hidden" th:field="${contrato.codigoContrato}" />
											<div class="row">
												<div class="col-md-3 mb-1">
													<label for="idNombre" class="titleWhite10pt">Inmueble:
													</label>
												</div>
												<div class="col-md-9 mb-1">
													<input type="hidden"
														th:field="${contrato.tblTienda.tblEdificio.codigoEdificio}" />
													<select
														th:field="${contrato.tblTienda.tblEdificio.codigoEdificio}"
														class="form-control_v2 " disabled="disabled"
														style="background-color: #ECECEC;">
														<option value="-1">--Seleccionar--</option>
														<option th:each="entry : ${session.SessionMapEdificacion}"
															th:value="${entry.value}" th:text="${entry.key}">opcion</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 mb-1">
													<label for="idNombre" class="titleWhite10pt">Local: </label>
												</div>
												<div class="col-md-9 mb-1">
													<input type="text" class="form-control_v2" placeholder="local"
														th:field="${contrato.tblTienda.numero}" readonly="readonly"
														style="background-color: #ECECEC;" />
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 mb-1">
													<label for="idNombre" class="titleWhite10pt">Estado: </label>
												</div>
												<div class="col-md-9 mb-1">
													<div
														th:replace="fragments/util :: estadoLocalInputContrato(tipo=${contrato.tblTienda.estadoTienda})"></div>
													<input type="hidden"
														th:field="${contrato.tblTienda.estadoTienda}" />
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 mb-1">
													<label for="idNombre" class="titleWhite10pt">Suministro:
													</label>
												</div>
												<div class="col-md-9 mb-1">
													<input type="text" class="form-control_v2"
														placeholder="suministro"
														th:field="${contrato.tblTienda.tblSuministro.numero}"
														readonly="readonly" style="background-color: #ECECEC;" />
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 mb-1">
													<label for="idNombre" class="titleWhite10pt">Piso: </label>
												</div>
												<div class="col-md-9 mb-1">
													<input type="text" class="form-control_v2"
														placeholder="suministro" th:field="${contrato.tblTienda.piso}"
														readonly="readonly" style="background-color: #ECECEC;" />
												</div>
											</div>
											<br></br>
										</fieldset>
									</div>
									<div class="col-md-6 mb-3">
										<fieldset class="scheduler-border"
											style="background-color: #7B8AB5;">
											<br></br> <input type="hidden"
												th:field="${contrato.tblPersona.codigoPersona}" />
											<div class="row">
												<div class="col-md-8 mb-1">
													<div class="row">
														<div class="col-md-3 mb-0">
															<label for="idNombre" class="titleWhite10pt">Nombre:
															</label>
														</div>
														<div class="col-md-8 mb-0">
															<input type="text" class="form-control_v2"
																placeholder="nombre"
																th:field="${contrato.tblPersona.nombre}" readonly="readonly"
																style="background-color: #ECECEC;" />
														</div>
													</div>
												</div>
												<div class="col-md-4 mb-1">
													<div class="col-md-12 mb-1" align="center">
														
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 mb-1">
													<div class="row">
														<div class="col-md-3 mb-0">
															<label for="idNombre" class="titleWhite10pt">Paterno:
															</label>
														</div>
														<div class="col-md-8 mb-0">
															<input type="text" class="form-control_v2"
																placeholder="paterno"
																th:field="${contrato.tblPersona.paterno}"
																readonly="readonly" style="background-color: #ECECEC;" />
														</div>
													</div>
												</div>
												<div class="col-md-4 mb-1">
													<div class="row">
														<div class="col-md-3 mb-0">
															<label for="idNombre" class="titleWhite10pt">Celular:
															</label>
														</div>
														<div class="col-md-8 mb-0">
															<input type="text" class="form-control_v2"
																placeholder="celular"
																th:field="${contrato.tblPersona.celular1}"
																readonly="readonly" style="background-color: #ECECEC;" />
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 mb-1">
													<div class="row">
														<div class="col-md-3 mb-0">
															<label for="idNombre" class="titleWhite10pt">Materno:
															</label>
														</div>
														<div class="col-md-8 mb-0">
															<input type="text" class="form-control_v2"
																placeholder="materno"
																th:field="${contrato.tblPersona.materno}"
																readonly="readonly" style="background-color: #ECECEC;" />
														</div>
													</div>
				
				
												</div>
												<div class="col-md-4 mb-1">
													<div class="row">
														<div class="col-md-3 mb-0">
															<label for="idNombre" class="titleWhite10pt">DNI: </label>
														</div>
														<div class="col-md-8 mb-0">
															<input type="text" class="form-control_v2" placeholder="dni"
																th:field="${contrato.tblPersona.numeroDni}"
																readonly="readonly" style="background-color: #ECECEC;" />
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 mb-1">
													<div class="row">
														<div class="col-md-3 mb-0">
															<label for="idNombre" class="titleWhite10pt">Raz&oacute;n
																Social</label>
														</div>
														<div class="col-md-8 mb-0">
															<input type="text" class="form-control_v2"
																placeholder="razon social"
																th:field="${contrato.tblPersona.razonSocial}"
																readonly="readonly" style="background-color: #ECECEC;" />
														</div>
													</div>
												</div>
												<div class="col-md-4 mb-1">
													<div class="row">
														<div class="col-md-3 mb-0">
															<label for="idNombre" class="titleWhite10pt">RUC: </label>
														</div>
														<div class="col-md-8 mb-0">
															<input type="text" class="form-control_v2" placeholder="ruc"
																th:field="${contrato.tblPersona.numeroRuc}"
																readonly="readonly" style="background-color: #ECECEC;" />
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 mb-1">
													<div class="row">
														<div class="col-md-3 mb-0">
															<label for="idNombre" class="titleWhite10pt">Direcci&oacute;n:
															</label>
														</div>
														<div class="col-md-8 mb-0">
															<input type="text" class="form-control_v2"
																placeholder="direccion"
																th:field="${contrato.tblPersona.direccionEmpresa}"
																readonly="readonly" style="background-color: #ECECEC;" />
														</div>
													</div>
												</div>
												<div class="col-md-4 mb-1">
													
												</div>
				
				
											</div>
										</fieldset>
									</div>
								</div>
				
								<div class="col-md-12 mb-1" align="center">
									<p style="color: red" th:text="${respuesta}" />
								</div>
				
								<div class="row">
				
									<div id="tabs" class="container">
										<ul>
											<li><a href="#tabs-01">Alquiler</a></li>
											<li><a href="#tabs-02">Servicio</a></li>
											<li><a href="#tabs-03">Luz</a></li>
											
				
										</ul>
										<!-- Listado de las Cuentas por Cobrar -->
										<div id="tabs-01" style="background-color: #FEEF8B;">
											<fieldset>
												<div class="row">
													<div class="col-md-7 mb-3">
														<div id="c_tablas" th:if="${not #lists.isEmpty(listaCxcAlquiler)}">
															<div class="tableFixHeadCobro">
																<table id="t01" class="table   table-bordered table-active tabla_cabecera_general">
																	<thead>
																		<tr>
																			<th>Fecha Vencimiento</th>
																			<th>Monto Generado</th>
																			<th>Saldo</th>
																			<th>Tipo Moneda</th>
																			<th>Descripci&oacute;n</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr th:each="alquiler, iterStat : ${listaCxcAlquiler}" class="campos2" onMouseOver="this.className='camposF'" onMouseOut="this.className='camposFi'" style="cursor: pointer" th:onclick="'jsObtenerMontoAlquilerRefinanciacion(\'' + ${iterStat.index} + '\');'">
																			<td ><font th:text="${T(com.pe.lima.sg.presentacion.util.UtilSGT).formatFechaSGT(alquiler.fechaFin)}"></font></td>
																			<td th:text="${alquiler.montoContrato}">generado</td>
																			<td th:text="${alquiler.saldo}">saldo</td>
																			<td align="center">
																				<div th:replace="fragments/util :: tipoMoneda(tipo=${alquiler.tipoMoneda})"></div>
																			</td>
																			<td th:text="${alquiler.nombre}">nombre</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
														<div id="c_tablas" th:if="${#lists.isEmpty(listaCxcAlquiler)}">
															<table id="t02"
																class="table   table-bordered table-active tabla_cabecera_general">
																<tr>
																	<td width="10%" align="center">Fecha Vencimiento</td>
																	<td width="10%" height="17">Monto Generado</td>
																	<td width="10%" height="17">Saldo</td>
																	<td width="10%" height="17">Tipo Moneda</td>
																	<td width="10%" align="center">Descripci&oacute;n</td>
																</tr>
																<tr class="campos2" onMouseOver="this.className='camposF'"
																	onMouseOut="this.className='camposFi'">
																	<td colspan="5" align="center">No se encontr&oacute;
																		elementos</td>
																</tr>
															</table>
														</div>
														
													</div>
													<div class="col-md-5 mb-1">
														<br></br>
														<input type="hidden" th:field="${cobroAlquiler.fechaCobro}" />
														<div id="c_tablas" >
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Fecha de Cobro: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<label th:if="${cobroGeneralBean.cobroAlquiler.fechaCobro!=null}" for="idNombre" class="form-control_v2 " th:text="${T(com.pe.lima.sg.presentacion.util.UtilSGT).formatFechaSGT(cobroGeneralBean.cobroAlquiler.fechaCobro)}" style="background-color: #ECECEC;">Fecha</label>
																	<input th:if="${cobroGeneralBean.cobroAlquiler.fechaCobro==null}" type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC; align:left"
																		placeholder="dd/mm/yyyy" 
																		id="idFecha" />
																	<input type="hidden" th:field="${cobroGeneralBean.cobroAlquiler.codigoCxCDocumento}"/>
																</div>
																<div class="col-md-4 mb-1">
																</div>
															</div>
															
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Monto: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroAlquiler.monto}"
																		id="idMonto" />
																</div>
																<div class="col-md-4 mb-1">
																</div>
															</div>
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Saldo: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroAlquiler.saldo}"
																		id="idSaldo" />
																</div>
																<div class="col-md-4 mb-1">
																</div>
															</div>
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Nuevo Monto: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input th:if="${cobroGeneralBean.cobroAlquiler.fechaCobro==null}" type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroAlquiler.nuevoMonto}"
																		id="idNuevoMontoAlquiler" />
																	<input th:if="${cobroGeneralBean.cobroAlquiler.fechaCobro!=null}" type="text" class="form-control_v2 is-valid" autocomplete="off"  style="background-color: #ebf9e5;" onkeyup="jsAsignarSaldoAlquiler(this);"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroAlquiler.nuevoMonto}"
																		id="idNuevoMontoAlquiler" />
																</div>
																<div class="col-md-4 mb-1">
																	<button th:if="${cobroGeneralBean.cobroAlquiler.fechaCobro!=null}" class="btn btn-danger" type="button" onclick="jsCancelarRefinanciarAlquiler();">Cancelar</button>
																</div>
															</div>
															<div class="row">
																<div class="col-md-4 mb-5" align="right">
																	<label for="idNombre" class="textBold9pt">Nuevo Saldo: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input th:if="${cobroGeneralBean.cobroAlquiler.fechaCobro==null}" type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroAlquiler.nuevoSaldo}"
																		id="idNuevoSaldoAlquiler" />
																	<input th:if="${cobroGeneralBean.cobroAlquiler.fechaCobro!=null}" type="text" class="form-control_v2 is-valid" autocomplete="off"  style="background-color: #ebf9e5;" 
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroAlquiler.nuevoSaldo}"
																		id="idNuevoSaldoAlquiler" />
																</div>
																<div class="col-md-4 mb-1">
																	<button th:if="${cobroGeneralBean.cobroAlquiler.fechaCobro!=null}"  class="btn btn-primary" type="button" onclick="jsRegistrarRefinanciarAlquiler();">Refinanciar</button>
																</div>
															</div>
														</div>
														
													</div>
				
												</div>
											</fieldset>
										</div>
										<!-- Servicios -->
										<div id="tabs-02"  style="background-color: #FEEF8B;">
											<fieldset >
												<div class="row">
													<div class="col-md-7 mb-3">	
														<div id="c_tablas" th:if="${not #lists.isEmpty(listaCxcServicio)}">
															<div class="tableFixHeadCobro">
																<table id="idTablaServicio" class="table   table-bordered table-active tabla_cabecera_general">
																	<thead>
																		<tr>
																			<th width="10%" align="center">Fecha Vencimiento</th>
																			<th width="8%" height="17">Monto Generado</th>
																			<th width="8%" height="17">Saldo</th>
																			<th width="8%" height="17">Tipo Moneda</th>
																			<th width="10%" align="center">Descripci&oacute;n</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr th:each="servicio, iterStat : ${listaCxcServicio}" class="campos2" onMouseOver="this.className='camposF'"	onMouseOut="this.className='camposFi'" style="cursor: pointer" th:onclick="'jsObtenerMontoServicioRefinanciacion(\'' + ${iterStat.index} + '\');'">
																			<td ><font th:text="${T(com.pe.lima.sg.presentacion.util.UtilSGT).formatFechaSGT(servicio.fechaFin)}"></font></td>
																			<td th:text="${servicio.montoContrato}">generado</td>
																			<td th:text="${servicio.saldo}">saldo</td>
																			<td align="center">
																				<div th:replace="fragments/util :: tipoMoneda(tipo=${servicio.tipoMoneda})"></div>
																			</td>
																			<td th:text="${servicio.nombre}">nombre</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
														<div id="c_tablas" th:if="${#lists.isEmpty(listaCxcServicio)}">
															<table id="t02" class="table   table-bordered table-active tabla_cabecera_general">
																<tr>
																	<td width="10%" align="center">Fecha Vencimiento</td>
																	<td width="8%" height="17">Monto Generado</td>
																	<td width="8%" height="17">Saldo</td>
																	<td width="8%" height="17">Tipo Moneda</td>
																	<td width="10%" align="center">Descripci&oacute;n</td>
																</tr>
																<tr class="campos2" onMouseOver="this.className='camposF'" onMouseOut="this.className='camposFi'">
																	<td colspan="5" align="center">No se encontr&oacute; elementos</td>
																</tr>
															</table>
														</div>
													</div>
													
													<div class="col-md-5 mb-1">
														<br></br>
														<input type="hidden" th:field="${cobroServicio.fechaCobroServicio}" />
														<div id="c_tablas" >
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Fecha de Cobro: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<label th:if="${cobroGeneralBean.cobroServicio.fechaCobroServicio!=null}" for="idNombre" class="form-control_v2 " th:text="${T(com.pe.lima.sg.presentacion.util.UtilSGT).formatFechaSGT(cobroGeneralBean.cobroServicio.fechaCobroServicio)}" style="background-color: #ECECEC;">Fecha</label>
																	<input th:if="${cobroGeneralBean.cobroServicio.fechaCobroServicio==null}" type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC; align:left"
																		placeholder="dd/mm/yyyy" 
																		id="idFecha" />
																	<input type="hidden" th:field="${cobroGeneralBean.cobroServicio.codigoCxCDocumento}"/>
																</div>
																<div class="col-md-4 mb-1">
																</div>
															</div>
															
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Monto: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroServicio.monto}"
																		id="idMonto" />
																</div>
																<div class="col-md-4 mb-1">
																</div>
															</div>
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Saldo: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroServicio.saldo}"
																		id="idSaldo" />
																</div>
																<div class="col-md-4 mb-1">
																</div>
															</div>
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Nuevo Monto: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input th:if="${cobroGeneralBean.cobroServicio.fechaCobroServicio==null}" type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroServicio.nuevoMonto}"
																		id="idNuevoMontoServicio" />
																	<input th:if="${cobroGeneralBean.cobroServicio.fechaCobroServicio!=null}" type="text" class="form-control_v2 is-valid" autocomplete="off"  style="background-color: #ebf9e5;" onkeyup="jsAsignarSaldoServicio(this);"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroServicio.nuevoMonto}"
																		id="idNuevoMontoServicio" />
																</div>
																<div class="col-md-4 mb-1">
																	<button th:if="${cobroGeneralBean.cobroServicio.fechaCobroServicio!=null}" class="btn btn-danger" type="button" onclick="jsCancelarRefinanciarServicio();">Cancelar</button>
																</div>
															</div>
															<div class="row">
																<div class="col-md-4 mb-5" align="right">
																	<label for="idNombre" class="textBold9pt">Nuevo Saldo: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input th:if="${cobroGeneralBean.cobroServicio.fechaCobroServicio==null}" type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroServicio.nuevoSaldo}"
																		id="idNuevoSaldoServicio" />
																	<input th:if="${cobroGeneralBean.cobroServicio.fechaCobroServicio!=null}" type="text" class="form-control_v2 is-valid" autocomplete="off"  style="background-color: #ebf9e5;" 
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroServicio.nuevoSaldo}"
																		id="idNuevoSaldoServicio" />
																</div>
																<div class="col-md-4 mb-1">
																	<button th:if="${cobroGeneralBean.cobroServicio.fechaCobroServicio!=null}"  class="btn btn-primary" type="button" onclick="jsRegistrarRefinanciarServicio();">Refinanciar</button>
																</div>
															</div>
														</div>
														
													</div>
													
												</div>
											</fieldset>
				
				
										</div>
										
										<div id="tabs-03" style="background-color: #FEEF8B;">
											<fieldset >
												<div class="row">
													<div class="col-md-7 mb-3">	
														
															<div id="c_tablas" th:if="${not #lists.isEmpty(listaCxcLuz)}">
																<div class="tableFixHeadCobro">
																	<table id="t01" class="table   table-bordered table-active tabla_cabecera_general">
																		<thead>
																			<tr>
																				<td width="10%" align="center">Fecha Vencimiento</td>
																				<td width="10%" height="17">Monto Generado</td>
																				<td width="10%" height="17">Saldo</td>
																				<td width="10%" height="17">Tipo Moneda</td>
																				<td width="10%" align="center">Descripci&oacute;n</td>
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="luz, iterStat : ${listaCxcLuz}" class="campos2" onMouseOver="this.className='camposF'"		onMouseOut="this.className='camposFi'"  style="cursor: pointer" th:onclick="'jsObtenerMontoLuzRefinanciacion(\'' + ${iterStat.index} + '\');'">
																				<td ><font th:text="${T(com.pe.lima.sg.presentacion.util.UtilSGT).formatFechaSGT(luz.fechaFin)}"></font></td>
																				<td th:text="${luz.montoContrato}">generado</td>
																				<td th:text="${luz.saldo}">saldo</td>
																				<td align="center">
																					<div th:replace="fragments/util :: tipoMoneda(tipo=${luz.tipoMoneda})"></div>
																				</td>
																				<td th:text="${luz.nombre}">nombre</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div id="c_tablas" th:if="${#lists.isEmpty(listaCxcLuz)}">
																<table id="t02" class="table   table-bordered table-active tabla_cabecera_general">
																	<tr>
																		<td width="10%" align="center">Fecha Vencimiento</td>
																		<td width="10%" height="17">Monto Generado</td>
																		<td width="10%" height="17">Saldo</td>
																		<td width="10%" height="17">Tipo Moneda</td>
																		<td width="10%" align="center">Descripci&oacute;n</td>
																	</tr>
																	<tr class="campos2" onMouseOver="this.className='camposF'" onMouseOut="this.className='camposFi'">
																		<td colspan="5" align="center">No se encontr&oacute; elementos</td>
																	</tr>
																</table>
															</div>
														
													</div>
													
													<div class="col-md-5 mb-1">
														<br></br>
														<input type="hidden" th:field="${cobroLuz.fechaCobroLuz}" />
														<div id="c_tablas" >
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Fecha de Cobro: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<label th:if="${cobroGeneralBean.cobroLuz.fechaCobroLuz!=null}" for="idNombre" class="form-control_v2 " th:text="${T(com.pe.lima.sg.presentacion.util.UtilSGT).formatFechaSGT(cobroGeneralBean.cobroLuz.fechaCobroLuz)}" style="background-color: #ECECEC;">Fecha</label>
																	<input th:if="${cobroGeneralBean.cobroLuz.fechaCobroLuz==null}" type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC; align:left"
																		placeholder="dd/mm/yyyy" 
																		id="idFecha" />
																	<input type="hidden" th:field="${cobroGeneralBean.cobroLuz.codigoCxCDocumento}"/>
																</div>
																<div class="col-md-4 mb-1">
																</div>
															</div>
															
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Monto: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroLuz.monto}"
																		id="idMonto" />
																</div>
																<div class="col-md-4 mb-1">
																</div>
															</div>
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Saldo: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroLuz.saldo}"
																		id="idSaldo" />
																</div>
																<div class="col-md-4 mb-1">
																</div>
															</div>
															<div class="row">
																<div class="col-md-4 mb-1" align="right">
																	<label for="idNombre" class="textBold9pt">Nuevo Monto: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input th:if="${cobroGeneralBean.cobroLuz.fechaCobroLuz==null}" type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroLuz.nuevoMonto}"
																		id="idNuevoMontoLuz" />
																	<input th:if="${cobroGeneralBean.cobroLuz.fechaCobroLuz!=null}" type="text" class="form-control_v2 is-valid" autocomplete="off"  style="background-color: #ebf9e5;" onkeyup="jsAsignarSaldoLuz(this);"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroLuz.nuevoMonto}"
																		id="idNuevoMontoLuz" />
																</div>
																<div class="col-md-4 mb-1">
																	<button th:if="${cobroGeneralBean.cobroLuz.fechaCobroLuz!=null}" class="btn btn-danger" type="button" onclick="jsCancelarRefinanciarLuz();">Cancelar</button>
																</div>
															</div>
															<div class="row">
																<div class="col-md-4 mb-5" align="right">
																	<label for="idNombre" class="textBold9pt">Nuevo Saldo: </label>
																</div>
																<div class="col-md-4 mb-1" align="center">
																	<input th:if="${cobroGeneralBean.cobroLuz.fechaCobroLuz==null}" type="text" class="form-control_v2 " autocomplete="off"  style="background-color: #ECECEC;" readonly="readonly"
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroLuz.nuevoSaldo}"
																		id="idNuevoSaldoLuz" />
																	<input th:if="${cobroGeneralBean.cobroLuz.fechaCobroLuz!=null}" type="text" class="form-control_v2 is-valid" autocomplete="off"  style="background-color: #ebf9e5;" 
																		placeholder="Valor" th:field="${cobroGeneralBean.cobroLuz.nuevoSaldo}"
																		id="idNuevoSaldoLuz" />
																</div>
																<div class="col-md-4 mb-1">
																	<button th:if="${cobroGeneralBean.cobroLuz.fechaCobroLuz!=null}"  class="btn btn-primary" type="button" onclick="jsRegistrarRefinanciarLuz();">Refinanciar</button>
																</div>
															</div>
														</div>
														
													</div>
													
													
												</div>
											</fieldset>
										</div>
										
									</div>
				
								</div>
								
								<div class="row">
									<div class="col-md-12 mb-1" align="center">
										<br />
										
										
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 mb-3" align="center">
				
										
									</div>
								</div>
							</div>
				
						</form>
				
				
				
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
	<script>
		$( "#tabs" ).tabs({ active: document.getElementById('idIndiceTab').value});
	</script>
</body>
</html>