<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class='dashboard'>
    <div class="dashboard-nav">
        <!--/*/ <th:block th:include="fragments/util :: menu"></th:block> /*/-->
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
        <!--/*/ <th:block th:include="fragments/util :: cabecera2022"></th:block> /*/-->
        </header>
        <div class='dashboard-content' style="overflow-y: scroll;">
            <div class='container'>
                <div class='card'>
                
					<div id="container">	
						<div id="actionbar" class="row">
							<div class="col-md-4 mb-3">
								<a href="#" th:href="@{/cliente/arbitrios/regresar}"><img th:src="@{/images/iconos/regresar.png}" alt="Regresar" /></a>
							</div>
							<div class="col-md-8 mb-3 tituloPrincipal" align="left" ><br/> M&oacute;dulo de Arbitrio - Edici&oacute;n</div>
						</div>
						
						<form id="form" th:object="${entidad}" th:action="@{/cliente/arbitrio/editar}" method="post">
						<input type="hidden" th:field="${entidad.codigoArbitrio}" />
							<div id="informacion" class="container_v3">
								<br></br>
								<fieldset class="scheduler-border"  style="background-color:#FEEF8B;">
									
										<br></br>
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="idNombre" class="textBold9pt">Inmueble</label>
												<label for="idNombre" class="form-control_v2 " th:text="${entidad.tblTienda.tblEdificio.nombre}">inmueble</label>
											</div>
											<div class="col-md-3 mb-3">
												<label for="idDireccion" class="textBold9pt">Local</label>
												<label for="idNombre" class="form-control_v2 " th:text="${entidad.tblTienda.numero}">inmueble</label>
											</div>
											<div class="col-md-3 mb-3">
												<label for="idDescripcion" class="textBold9pt">Piso</label>
												<label for="idNombre" class="form-control_v2 " th:text="${entidad.tblTienda.piso}">piso</label>
												
											</div>
											<div class="col-md-3 mb-3">
												<label for="idDescripcion" class="textBold9pt">A&ntilde;o</label>
												<label for="idNombre" class="form-control_v2 " th:text="${entidad.anio}">anio</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="idNombre" class="textBold9pt">Trimestre</label>
												<label for="idNombre" class="form-control_v2 " th:text="${entidad.trimestre}">trimestre</label>
											</div>
											<div class="col-md-3 mb-3">
												<label for="idDescripcion" class="textBold9pt">Monto Arbitrio</label>
												<input type="text" class="form-control_v2 is-valid" placeholder="Valor" th:field="${entidad.montoGenerado}" required="required"/>
											</div>
											<div class="col-md-3 mb-3">
												<label for="idDescripcion" class="textBold9pt">Saldo</label>
												<input type="text" class="form-control_v2 is-valid" placeholder="Valor" th:field="${entidad.saldo}" required="required" readonly="readonly" style="background-color:#ECECEC;"/>
												
											</div>
											<div class="col-md-3 mb-3">
												<div th:if="${contrato.numero} != null">
													<label for="idDescripcion" class="textBold9pt">Contrato</label>
													<input type="text" class="form-control_v2 " placeholder="numero" th:field="${contrato.numero}" readonly="readonly"/>
												</div>
												<div th:if="${contrato.numero} == null">
													<br/><br/>SIN CONTRATO ASOCIADO
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 mb-3">
												<textarea rows="6" cols="60" class="form-control_v2 is-valid" th:field="${entidad.observacion}"></textarea>
											</div>
										</div>
										
								</fieldset>
								<br></br>
								<div class="container_v4" align="center">
									<div class="row"  align="left">
										<div class="col-md-12 mb-3">Nota: Se considera solo contratos Vigentes</div>
									</div>
									<div class="row">
										<div class="col-md-3 mb-3"></div>
										
						  				<div class="col-md-6 mb-3">
						  					<p style="color: red" th:text="${respuesta}" /> 
						  					<button class="btn btn-success" type="submit">Guardar</button>
						  				</div>
						  				<div class="col-md-3 mb-3"></div>
						  			</div>
						  		</div>
						  	</div>
						</form>
			
					</div>
                </div>
            </div>
        </div>
    </div>
</div>	
</body>
</html>