<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
<title>Sistema de Gesti&oacute;n</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache" />
<link rel="stylesheet" type="text/css"	href="static/css/menu2022.css"  			th:href="@{/css/menu2022.css}" 					media="screen"/>
<link rel="stylesheet" type="text/css" href="static/css/sgt/inicio.css" 			th:href="@{/css/sgt/inicio.css}"  				media="screen"/>
<link rel="stylesheet" type="text/css"	href="static/css/bootstrap.css"  			th:href="@{/css/bootstrap.css}" 				media="screen"/>	
<link rel="stylesheet" type="text/css"	href="static/css/bootstrap-reboot.css" 		th:href="@{/css/bootstrap-reboot.css}" 			media="screen" />	
<link rel="stylesheet" type="text/css"	href="static/css/bootstrap-grid.css"  		th:href="@{/css/bootstrap-grid.css}" 			media="screen"/>	
<link rel="stylesheet" type="text/css"	href="static/css/main.css"  				th:href="@{/css/main.css}" 						media="screen"/>
<link rel="stylesheet" type="text/css"	href="static/css/util.css"  				th:href="@{/css/util.css}" 						media="screen"/>
<link rel="stylesheet" type="text/css"	href="static/css/frame.css"  				th:href="@{/css/frame.css}" 					media="screen"/>
<link rel="stylesheet" type="text/css"	href="static/css/jquery-ui.css"  			th:href="@{/css/jquery-ui.css}" 				media="screen"/>
<link rel="stylesheet" type="text/css"  href="static/dist/themes/default/style.css" th:href="@{/dist/themes/default/style.css}" 	media="screen"/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<link rel="stylesheet" type="text/css"	href="static/css/panel/demo.css"  					th:href="@{/css/panel/demo.css}" 						media="screen"/>
<link rel="stylesheet" type="text/css"	href="static/css/panel/common.css"  				th:href="@{/css/panel/common.css}" 						media="screen"/>
<link rel="stylesheet" type="text/css"	href="static/css/panel/style2.css"  				th:href="@{/css/panel/style2.css}" 						media="screen"/>


<script type="text/javascript" src="../static/js/jquery-3.2.1.js"		th:src="@{/js/jquery-3.2.1.js}"></script>
<script type="text/javascript" src="../static/js/jquery-1.12.4.js"		th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" src="../static/js/jquery-ui.js"			th:src="@{/js/jquery-ui.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"			th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" src="../static/dist/jstree.min.js"		th:src="@{/dist/jstree.min.js}"></script>
<script type="text/javascript" src="../static/js/sgt/inicio.js"			th:src="@{/js/sgt/inicio.js}"></script>

<script type="text/javascript" src="../static/js/panel/modernizr.custom.79639.js"			th:src="@{/js/panel/modernizr.custom.79639.js}"></script>



<script>
  window.Tether = {};
</script>

 

<script>


  $(function () {
    // 6 create an instance when the DOM is ready
    $('#jstree').jstree();
    $('#jstree').on('ready.jstree', function() {
        $("#jstree").jstree("open_all");          
    	//$("#jstree").jstree("close_all");
    });
    
    $('#jstree2').jstree();
    $('#jstree2').on('ready.jstree', function() {
        $("#jstree2").jstree("open_all");          
    	//$("#jstree2").jstree("close_all");
    });
    // 7 bind to events triggered on the tree
    $('#jstree').on("changed.jstree", function (e, data) {
      console.log(data.selected);
    });
    $('#jstree2').on("changed.jstree2", function (e, data) {
        console.log(data.selected);
      });
    // 8 interact with the tree - either way is OK
   /* $('button').on('click', function () {
      $('#jstree').jstree(true).select_node('child_node_1');
      $('#jstree').jstree('select_node', 'child_node_1');
      $.jstree.reference('#jstree').select_node('child_node_1');
      
      var nodeId = $('#jstree').jstree(true).get_node("child_node_1");
      $("#jstree").jstree(true).set_icon(nodeId, "18_n.png");
      
    });*/
  });
  
  $( function() {

	  	if (document.getElementById("idEditData") == undefined){
	  		$( "#fechaInicio" ).datepicker({dateFormat: 'dd/mm/yy'});
	  	}
	    $( "#fechaCobro" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#cobroAlquilerfechaCobro" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#cobroServiciofechaCobroServicio" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#cobroLuzfechaCobroLuz" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#cobroArbitriofechaCobroArbitrio" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#cobroAlquilerfechaOperacion" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#cobroServiciofechaOperacion" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#cobroLuzfechaOperacion" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#cobroArbitriofechaOperacion" ).datepicker({dateFormat: 'dd/mm/yy'});
	    
	    $( "#fechaGasto" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#fechaIngreso" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#fechaContrato" ).datepicker({dateFormat: 'dd/mm/yy'});
	    if (document.getElementById("idEditData") == undefined){
	    	$( "#fechaFin" ).datepicker({dateFormat: 'dd/mm/yy'});
	    }
	    $( "#idFechaContrato" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#idFechaPrimerCobro" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#fecha" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#fechaCobroServicio" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#fechaCobroLuz" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#fechaCobroArbitrio" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#fechaFinalizacion" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#fechaAlquiler" ).datepicker({dateFormat: 'dd/mm/yy'});
	    $( "#fechaServicio" ).datepicker({dateFormat: 'dd/mm/yy'});
	    
	  } );
  
	$( function() {
	
	  $( "#tabs" ).tabs();
	
	} );
	
	const mobileScreen = window.matchMedia("(max-width: 990px )");
	$(document).ready(function () {
	    $(".dashboard-nav-dropdown-toggle").click(function () {
	        $(this).closest(".dashboard-nav-dropdown")
	            .toggleClass("show")
	            .find(".dashboard-nav-dropdown")
	            .removeClass("show");
	        $(this).parent()
	            .siblings()
	            .removeClass("show");
	    });
	    $(".menu-toggle").click(function () {
	        if (mobileScreen.matches) {
	            $(".dashboard-nav").toggleClass("mobile-show");
	        } else {
	            $(".dashboard").toggleClass("dashboard-compact");
	        }
	    });
	});
	
  </script>

</head>
<body>

</body>
</html>