<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class='dashboard'>
    <div class="dashboard-nav">
        <!--/*/ <th:block th:include="fragments/util :: menu"></th:block> /*/-->
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
        <!--/*/ <th:block th:include="fragments/util :: cabecera2022"></th:block> /*/-->
        </header>
        <div class='dashboard-content' style="overflow-y: scroll;">
            <div class='container'>
                <div class='card'>
                
					<div id="container">	
						<div id="actionbar" class="row">
							<div class="col-md-4 mb-3">
								<a href="#" th:href="${'/caja/ccdetalles/'  +entidad.TblCajaChica.codigoCajaChica}"><img th:src="@{/images/iconos/regresar.png}" alt="Regresar" /></a>
							</div>
							<div class="col-md-8 mb-3 tituloPrincipal" align="left" ><br/>Caja Chica - Ingreso / Salida - Ver</div>
						</div>
						
						<form id="form" th:object="${entidad}" th:action="@{/ccdetalle/nuevo/guardar}" method="post">
							<div id="informacion" class="container_v3">
								<fieldset class="scheduler-border">
									<legend class="scheduler-border title10pt">Datos Ingreso / Gasto</legend>
										
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="idInmueble" class="textBold9pt">Tipo Operaci&oacute;n</label>
												<div th:fragment="combo">
													<label> <select th:field="${entidad.tipoOperacion}" 
														class="form-control_v2"  disabled="disabled">
															<option value="-1">--Seleccionar--</option>
															<option th:each="entry : ${session.SessionIngresoSalida}" th:value="${entry.value}"
																th:text="${entry.key}">opcion</option>
													</select>
													</label>
												</div>
											</div>
											<div class="col-md-3 mb-3">
												<label for="idInmueble" class="textBold9pt">Concepto</label>
												<div th:fragment="combo">
													<label> <select th:field="${entidad.tblConcepto.codigoConcepto}" 
														class="form-control_v2 " disabled="disabled">
															<option value="-1">--Seleccionar--</option>
															<option th:each="entry : ${session.SessionMapConceptoAll}" th:value="${entry.value}"
																th:text="${entry.key}">opcion</option>
													</select>
													</label>
												</div>
											</div>
											<div class="col-md-6 mb-3">
												<label for="idNombre" class="textBold9pt">Descripci&oacute;n</label>
												<input type="text" class="form-control_v2" placeholder="Nombre" th:field="${entidad.descripcion}" maxlength="255" readonly="readonly"/>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-2 mb-3">
												<label for="idNombre" class="textBold9pt">Fecha</label>
												<input type="text" class="form-control_v2" placeholder="dd/MM/yyyy" th:field="${entidad.fecha}" readonly="readonly"/>
											</div>
											<div class="col-md-2 mb-3" align="center">
												<label for="idNombre" class="textBold9pt">Tipo de Moneda</label>
												<select th:field="${entidad.tipoMoneda}" class="form-control_v2" disabled="disabled">
													<option value="-1">--Seleccionar--</option>
													<option th:each="entry : ${session.SessionMapTipoMoneda}" th:value="${entry.value}" th:text="${entry.key}">opcion</option>
												</select>
											</div>
											<div class="col-md-2 mb-3">
												<label for="idNombre" class="textBold9pt">Tipo de Cambio</label>
												<input type="text" class="form-control_v2" placeholder="dd/MM/yyyy" th:field="${entidad.fecha}" readonly="readonly"/>
											</div>
											<div class="col-md-3 mb-3">
												<label for="idNombre" class="textBold9pt">Monto Soles</label>
												<input type="text" class="form-control_v2" placeholder="Monto Soles" th:field="${entidad.montoSoles}" readonly="readonly"/>
											</div>
											<div class="col-md-3 mb-3">
												<label for="idNombre" class="textBold9pt">Monto Soles</label>
												<input type="text" class="form-control_v2" placeholder="Monto Soles" th:field="${entidad.montoSoles}" readonly="readonly"/>
											</div>
										</div>
								</fieldset>
								<br></br>
								<div class="container_v4" align="center">
									<div class="row">
										<div class="col-md-3 mb-3"></div>
										
						  				<div class="col-md-6 mb-3">
						  					<p style="color: red" th:text="${respuesta}" /> 
						  					<button class="btn btn-success" type="submit">Guardar</button>
						  				</div>
						  				<div class="col-md-3 mb-3"></div>
						  			</div>
						  		</div>
						  	</div>
						</form>
			
					</div>
                </div>
            </div>
        </div>
    </div>
</div>	
</body>
</html>