<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
<div class='dashboard'>
    <div class="dashboard-nav">
        <!--/*/ <th:block th:include="fragments/util :: menu"></th:block> /*/-->
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
        <!--/*/ <th:block th:include="fragments/util :: cabecera2022"></th:block> /*/-->
        </header>
        <div class='dashboard-content' style="overflow-y: scroll;">
            <div class='container'>
                <div class='card'>
                
					<div id="container">
						<div id="actionbar" class="row">
							<div class="col-md-4 mb-3">
								<a href="#"	th:href="@{/cliente/suministrosxinmueble}"><img th:src="@{/images/iconos/regresar.png}"	alt="Regresar" /></a>
							</div>
							<div class="col-md-8 mb-3 tituloPrincipal" align="left" ><br/> M&oacute;dulo de Suministros - Luz - Nuevo </div>
						</div>
			
						<form id="form" th:object="${entidad}" th:action="@{/cliente/suministroxinmueble/nuevo/guardar}" method="Post">
							<input type="hidden" name="path" id="path" value="cliente/suministroxinmueble/sxi_nuevo" />
							<div id="informacion" class="container_v3">
								<fieldset class="scheduler-border">
									<legend class="scheduler-border title10pt">Datos del Suministro</legend>
										<div class="row">
											<div class="col-md-1 mb-3">
											</div>
											<div class="col-md-8 mb-3">
												<div class="row">
													<div class="col-md-3 mb-3">
														<label for="idInmueble" class="textBold9pt">Inmueble</label>
														<div th:fragment="combo">
															<label> <select th:field="${entidad.codigoInmueble}" 
																class="form-control_v2 is-valid" onchange="jsCargarSuministroNuevoSuministroxInmueble();">
																	<option value="-1">--Seleccionar--</option>
																	<option th:each="entry : ${session.SessionMapEdificacion}" th:value="${entry.value}"
																		th:text="${entry.key}">opcion</option>
															</select>
															</label>
														</div>
														
													</div>
													<div class="col-md-3 mb-3">
														<label for="idInmueble" class="textBold9pt">Suministro</label>
														<div th:fragment="combo">
															<label> <select th:field="${entidad.codigoSuministro}" 
																class="form-control_v2 is-valid" >
																	<option value="-1">--Seleccionar--</option>
																	<option th:each="entry : ${mapSuministro}" th:value="${entry.value}"
																		th:text="${entry.key}">opcion</option>
															</select>
															</label>
														</div>
													</div>
													<div class="col-md-3 mb-3">
														
														<label for="idInmueble" class="textBold9pt">A&ntilde;o</label>
														<div th:fragment="combo">
															<label> <select th:field="${entidad.intAnio}" 
																class="form-control_v2 is-valid">
																	<option value="-1">--Seleccionar--</option>
																	<option th:each="entry : ${session.SessionMapAnio}" th:value="${entry.value}"
																		th:text="${entry.key}">opcion</option>
															</select>
															</label>
														</div>
														
													</div>
													<div class="col-md-3 mb-3">
														
														<label for="idInmueble" class="textBold9pt">Mes</label>
														<div th:fragment="combo">
															<label> <select th:field="${entidad.strMes}" 
																class="form-control_v2 is-valid">
																	<option value="-1">--Seleccionar--</option>
																	<option th:each="entry : ${mapMeses}" th:value="${entry.value}"
																		th:text="${entry.key}">opcion</option>
															</select>
															</label>
														</div>
														
													</div>
													
												</div>
												
											</div>
											<div class="col-md-2 mb-3">
												<label for="idInmueble" class="textBold9pt">Monto Total S/</label>
												<input type="text" class="form-control_v2 is-valid" placeholder="Monto" th:field="${entidad.montoGenerado}" required="required"/>
											</div>
											
											<div class="col-md-1 mb-3">
												<br/>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5 mb-3">
											</div>
											<div class="col-md-2 mb-3">
												<br/><button class="btn btn-success" type="submit">Asignar Montos de Luz</button>
											</div>
											<div class="col-md-5 mb-3">
											</div>
										</div>
										<div class="row">
							  				<div class="col-md-12 mb-3">
							  					<p style="color: red" th:text="${respuesta}" />
							  				</div>
							  			</div>		
								</fieldset>
								<br/><br/>
								
								
							</div>
						</form>
						
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>