<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<main>
		<div id="container">
			<div id="actionbar" class="row">
				<div class="col-md-4 mb-3">
					<a href="#"	th:href="@{'/cliente/luzxtienda/editar/' + tblLuzxtienda.tblLuz.codigoLuz}"><img th:src="@{/images/iconos/regresar.png}"	alt="Regresar" /></a>
				</div>
				<div class="col-md-8 mb-3 tituloPrincipal" align="left" ><br/> M&oacute;dulo de Luz - Edici&oacute;n - Local</div>
			</div>

			<form id="form" th:object="${luzxtienda}" th:action="@{/cliente/lucesxtienda/editar/detalle}" method="Post">
				<div id="informacion" class="container_v3">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border title10pt">Datos del Local</legend>
							<div class="row">
								<div class="col-md-6 mb-3">
									<div class="row">
										<div class="col-md-4 mb-3">
											<label for="idInmueble" class="textBold9pt">Local</label>
											<input type="text" class="form-control_v2" placeholder="local" th:field="${luzxtienda.tblTienda.numero}" readonly="readonly"/>
										</div>
										<div class="col-md-4 mb-3">
											<label for="idInmueble" class="textBold9pt">Fecha Vencimiento</label>
											<input type="text" class="form-control_v2  is-valid" placeholder="fecha vencimiento" th:field="${luzxtienda.fechaFin}"/>
										</div>
										<div class="col-md-4 mb-3">
											<label for="idInmueble" class="textBold9pt">Monto Generado</label>
											<input type="text" class="form-control_v2  is-valid" placeholder="monto generado" th:field="${luzxtienda.montoGenerado}"/>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 mb-3">
											<label for="idInmueble" class="textBold9pt">Monto Contrato</label>
											<input type="text" class="form-control_v2  is-valid" placeholder="monto cobrado" th:field="${luzxtienda.montoContrato}" />
										</div>
										<div class="col-md-4 mb-3">
											<label for="idInmueble" class="textBold9pt">Valor Cobrado</label>
											<input type="text" class="form-control_v2  is-valid" placeholder="valor cobrado" th:field="${luzxtienda.valorCobrado}" />
										</div>
										<div class="col-md-4 mb-3">
											<label for="idInmueble" class="textBold9pt">Saldo</label>
											<input type="text" class="form-control_v2  is-valid" placeholder="saldo" th:field="${luzxtienda.saldo}" />
										</div>
										
									</div>
								</div>
								
							</div>
								
					</fieldset>
					<br></br>
					<div class="container_v4" align="center">
						<div class="row">
							<div class="col-md-3 mb-3"></div>
							
			  				<div class="col-md-6 mb-3">
			  					<p style="color: red" th:text="${respuesta}" /> 
			  					<button class="btn btn-success" type="submit">Guardar</button>
			  				</div>
			  				<div class="col-md-3 mb-3"></div>
			  			</div>
			  		</div>
					
					
				</div>
			</form>
			
		</div>
	</main>
	<nav id="nav" >
		
		<!--/*/ <th:block th:include="fragments/util :: menu"></th:block> /*/-->
	</nav>
</body>
</html>