<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body >
<div class='dashboard'>
    <div class="dashboard-nav">
        <!--/*/ <th:block th:include="fragments/util :: menu"></th:block> /*/-->
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
        <!--/*/ <th:block th:include="fragments/util :: cabecera2022"></th:block> /*/-->
        </header>
        <div class='dashboard-content' style="overflow-y: scroll;">
            <div class='container'>
                <div class='card'>
                
                
					<div id="container">
						<div id="actionbar" class="row">
							<div class="col-md-3 mb-3">
								<a href="#"	th:href="@{/masivotienda,/facturas/alquiler/regresarempresa}"><img th:src="@{/images/iconos/regresar.png}"	alt="Regresar" /></a>
							</div>
							<div class="col-md-6 mb-3 tituloPrincipal" align="center" ><br/> SUNAT - Proceso Masivo de Facturas - Nuevo</div>
							<div class="col-md-3 mb-3"></div>
						</div>
						<form id="form" th:object="${filtro}" th:action="@{/masivotienda,/facturas/alquiler/nuevo/tiendas}" method="Post">
							<div id="informacion" class="container_v3">
								<fieldset class="scheduler-border" style="background-color:#FEEF8B;">
										<br></br>
										<div class="row">
											<div class="col-md-3 mb-3">
												<div th:fragment="combo">
													<input type="text" class="form-control_v2 " style="background-color: #ECECEC;" th:field="${entidad.nombreEdificio}" readonly="readonly"   />
													<input type="hidden" th:field="${entidad.codigEdificio}"/>
												</div>
											</div>
											<div class="col-md-3 mb-3">
												<input type="text" class="form-control_v2 " style="background-color: #ECECEC;" th:field="${entidad.nombrePeriodo}" readonly="readonly"   />
												<input type="hidden" th:field="${entidad.periodo}"/>
											</div>
											<div class="col-md-3 mb-3">
												<div th:fragment="combo">
													<select th:field="${entidad.codigoTienda}" 
														class="form-control_v2 is-valid">
															<option value="-1">--Todos--</option>
															<option th:each="entry : ${session.SessionMapTiendaExcluida}" th:value="${entry.value}"
																th:text="${entry.key}">opcion</option>
													</select>
												</div>
											</div>
											<div class="col-md-1 mb-3">
												<button class="btn btn-success" type="submit">Agregar</button> 
											s</div>
											<div class="col-md-2 mb-3" align="center">
											</div>
										</div>
								</fieldset>
								
								<div class="container_v4" align="center">
									
						  			<div class="row">
						  				<div class="col-md-12 mb-3">
						  					<p style="color: red" th:text="${respuesta}" />
						  				</div>
						  			</div>
						  		</div>
						  		<div id="c_tablas" th:if="${not #lists.isEmpty(registros)}">	
							  		<div class="tableFixHead">		
										<table id="t01" class="table   table-bordered table-active tabla_cabecera_general">
											<thead>
												<tr>
													<th>Empresa</th>
													<th>Tienda</th>
													<th>Periodo</th>
													<th>Eliminar</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="masivotienda,tienda, iterStat : ${registros}"  class="campos2" onMouseOver="this.className='camposF'" onMouseOut="this.className='camposFi'" style="cursor: pointer" >
													<td th:text="${masivotienda.nombreEdificio}">nombreEdificio</td>
													<td th:text="${masivotienda.numeroTienda}">numeroTienda</td>
													<td th:text="${masivotienda.nombrePeriodo}">nombrePeriodo</td>
													<td align="center">
														<a th:href="${'/masivotienda,/facturas/alquiler/tienda/eliminar/' + iterStat.index}">
														<img th:src="@{/images/iconos/delete_t1.png}" alt="XML"
														 	 onclick="if(!confirm('Desea Eliminar la tienda seleccionado')){ return false;}" />
														</a>
													</td>
													
												</tr>
											</tbody>
										</table>
									</div>
									<div class="row">
						  				<div class="col-md-12 mb-3">
						  					<button class="btn btn-success" id="idGrabarTiendaFactura"  onclick="grabarTiendaParaFacturar()">Grabar</button> 
						  				</div>
						  			</div>
								</div>
								<div id="c_tablas" th:if="${#lists.isEmpty(registros)}">				
									<table id="t01" class="table   table-bordered table-active tabla_cabecera_general">
										<thead>
											<tr>
												<th>Empresa</th>
												<th>Tienda</th>
												<th>Periodo</th>
												<th>Eliminar</th>
											</tr>
										</thead>
										<tr class="campos2" onMouseOver="this.className='camposF'" onMouseOut="this.className='camposFi'">
											<td colspan="4" align="center">No se encontr&oacute; elementos</td>
										</tr>
									</table>
								</div>
							</div>
						</form>
						
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>